:root{
  --color-primary: #7380ec;
  --color-danger: #ff7782c9;
  --color-success: #41f1b6ab;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #2f3036;
  --color-light: rgba(103, 107, 145, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Regular.otf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../font/Poppins-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  outline: none;
  box-sizing: border-box;
}

.gle {
  background-color: black;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  margin-left: 250px;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  z-index: 99;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.5s;
}

nav ul span {
  display: none;
  position: absolute;
  margin-left: 3.5px;
  top: 50px;
  bottom: 50px;
  width: 40px;
  height: 5px;
  background-color: #fff;
  border-radius: 15px;
}

.pan {
  display: block;
}

nav {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 255, 255, 0);
  padding: 0 170px 0 170px;
  color: #fff;
  z-index: 99;
  transition: 1s;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 80px;
  width: 450px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: azure;
  padding: 5px;
}
nav ul li a::after {
  content: "";
  position: absolute;
  background-color: salmon;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: white;
}

nav h1:hover {
  color: white;
  cursor: pointer;
}

nav ul li a:hover::after {
  width: 100%;
}

nav.sticky {
  background-color: black;
  transition: 0.5s;
}

.hero {
  position: relative;
  /* top: -80px; */
  width: 100%;
  height: 100vh;
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.text {
  line-height: 90px;
  margin: 100px 100px;
  position: absolute;
  color: #fff;
  top: 50px;
  font-size: 2.5em;
}

.About {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  margin-top: 80px;
}

.tentang {
  margin-left: 100px;
}

.About span {
  display: block;
  width: 100px;
  margin-top: 60px;
  background-color: rgb(218, 218, 218);
  padding: 13px;
  font-weight: 550;
  font-size: 14px;
  color: rgb(64, 64, 64);
}

.About h3 {
  margin-top: 20px;
  font-size: 45px;
  font-weight: bold;
}

.About a {
  margin-top: 55px;
  font-size: 20px;
  line-height: 30px;
  /* margin: 100px 100px; */
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.916);
  display: inline-block;
  padding: 15px 45px;
  border: 2px solid #fff;
  font-family: "Poppins";
  transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);
  cursor: pointer !important;
}

.About a:hover {
  font-size: 20px;
  color: rgb(31, 31, 31);
  background: #fff;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
}

.About img {
  margin-top: 75px;
  display: inline;
  width: 500px;
  margin-left: 70px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.About h1 {
  text-align: center;
  color: rgb(26, 26, 26);
  font-size: 2.5rem;
}

.About p {
  width: 700px;
  margin-top: 50px;
  line-height: 30px;
}

.Porto {
  margin-top: 80px;
  background-color: #f9f9f9f9;
}

.Porto .section {
  display: flex;
  justify-content: space-between;
}

.Porto .section ul {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  margin-right: 50px;
}

.Porto .section ul li {
  list-style: none;
  padding-right: 50px;
}

.Porto .section ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.902);
  font-weight: bold;
}

.Porto span {
  display: inline-block;
  margin-top: 50px;
  margin-left: 80px;
  width: 100px;
  background-color: rgb(218, 218, 218);
  padding: 13px;
  font-weight: 550;
  font-size: 14px;
  color: rgb(64, 64, 64);
}

.Porto h3 {
  margin-top: 30px;
  margin-left: 80px;
  font-size: 40px;
  font-weight: bold;
}

.gallery {
  display: grid !important;
  justify-items: center;
  margin-right: 190px;
  margin-left: 80px;
  margin-top: 80px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.gallery img {
  margin-right: -70px;
  width: 350px;
}

.bar {
  margin-top: 200px;
  margin-left: 90px;
  display: flex;
}

.bar h3 {
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
}

.bar p {
  color: rgb(125, 125, 125);
  line-height: 32px;
}

.bar section .web-bar {
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 130px;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.bar section .web {
  margin-left: 132px;
  width: 470px;
  height: 3px;
  background-color: black;
}

.bar section .brand {
  margin-left: 132px;
  width: 400px;
  height: 3px;
  background-color: black;
}

.bar section .logo {
  margin-left: 132px;
  width: 450px;
  height: 3px;
  background-color: black;
}

.video {
  position: relative;
  margin-top: 200px;
}

.video img {
  width: 100%;
}

.video .buton .play {
  cursor: pointer;
  position: absolute;
  top: 190px;
  left: 633px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video .buton .play::before {
  content: "";
  position: absolute;
  border: 25px solid #000;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: translate(10px);
}

.video .buton a {
  font-family: "Poppins" Arial, Helvetica, sans-serif;
  position: absolute;
  top: 450px;
  left: 560px;
  margin-top: 55px;
  font-size: 20px;
  line-height: 30px;
  /* margin: 100px 100px; */
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  padding: 15px 45px;
  border: 2px solid #fff;
  font-family: "Poppins";
  transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);
  cursor: pointer !important;
}

.video .buton a:hover {
  font-size: 20px;
  color: rgb(31, 31, 31);
  background: #fff;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
}

.video .buton h3 {
  position: absolute;
  text-align: center;
  top: 320px;
  left: 420px;
  font-weight: bold;
  font-size: 35px;
  color: #fff;
}

.video .clip {
  position: absolute;
  top: 0;
  left: 4%;
  transform: scale(0);
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video .clip video {
  max-width: 900px;
}

.video .clip.active {
  transform: scale(1);
}

.contact {
  margin-top: -7px;
  width: 100%;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  background: #f9f9f9f9;
}

.contact h2 {
  width: 100%;
  color: #333;
  font-size: 36px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.wrapper {
  width: 100%;
  background: #f9f9f9f9;
  padding: 30px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.wrapper .input-data {
  height: 40px;
  width: 100%;
  position: relative;
}

.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  background: #f9f9f9f9;
  border-bottom: 2px solid silver;
}
.wrapper .input-data input:focus ~ label,
.wrapper .input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.wrapper .input-data input:focus ~ label:nth-child(3),
.wrapper .input-data input:invalid ~ label:nth-child(3) {
  transform: translateY(-20px);
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.wrapper .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper .input-data:last-child label {
  position: absolute;
  bottom: 18px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper .input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.wrapper .input-data textarea:focus ~ label,
.wrapper .input-data textarea:valid ~ label {
  transform: translateY(-30px);
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.wrapper textarea{
  width: 100%;
  height: 140px;
  border: none;
  padding: 3px;
  font-size: 17px;
  font-weight: 300;
  resize: none;
  border-radius: 20px;
}

.wrapper textarea:focus,
.wrapper textarea:valid{
  box-shadow: var(--box-shadow);
  transition: all 500ms ease;
}

.wrapper button{
  margin-top: 70px;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  background-color: var(--color-dark); /* Green */
  border: none;
  color: white;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  cursor: pointer;
}

.wrapper button:hover{
  box-shadow: none;
}

.input-data .underline::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(64, 64, 64);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline::before,
.input-data input:valid ~ .underline::before {
  transform: scaleX(1);
}

input[type="submit"] {
  margin-left: -100%;
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 30px;
  /* margin: 100px 100px; */
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.916);
  display: inline-block;
  padding: 7px 35px;
  border: 2px solid #fff;
  font-family: "Poppins";
  transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);
  cursor: pointer !important;
}

input[type="submit"]:hover {
  font-size: 20px;
  color: rgb(31, 31, 31);
  background: #fff;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
}

section .alert{
  width: 550px;
  height: 120px;
  border-radius: 10px;
  background: var(--color-success);
  padding: 6px 20px;
  margin: 0 auto;
  position: relative;
  display: block;
  opacity: 1;
  transition: all 1000ms ease;
  text-align: center;
}
section .alert-danger{
  width: 550px;
  height: 120px;
  border-radius: 10px;
  background: var(--color-danger);
  padding: 6px 20px;
  margin: 0 auto;
  position: relative;
  display: block;
  opacity: 1;
  transition: all 1000ms ease;
  text-align: center;
}

section .alert h2{
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--color-dark);
}

section .alert h3{
  color: rgb(71, 71, 71);
  font-size: 15px;
  margin-top: 17px;
}

section .alert a{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: white;
  background: red;
  font-weight: 600;
  font-size: 20px;
  line-height: 12px;
  padding-top: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(4px, -4px);
  cursor: pointer;
}
section .alert-danger h2{
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--color-dark);
}

section .alert-danger h3{
  color: rgb(71, 71, 71);
  font-size: 15px;
  margin-top: 17px;
}

section .alert-danger a{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: white;
  background: red;
  font-weight: 600;
  font-size: 20px;
  line-height: 12px;
  padding-top: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(4px, -4px);
  cursor: pointer;
}

/*Todo */
footer {
  text-align: center;
  color: rgb(222, 222, 222);
  background-color: #333;
  font-size: 28px;
  padding: 30px;
}
/*Todo */

.galery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.cv {
  font-size: 15px;
  line-height: 33px;
  /* margin: 100px 100px; */
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  padding: 10px 35px;
  border: 2px solid #fff;
  transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);
  cursor: pointer !important;
}

.cv:hover {
  font-size: 15px;
  color: rgb(31, 31, 31);
  background: #fff;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
}

@media screen and (max-width: 1320px) {
  .tentang p {
    width: 100%;
    margin-right: 50px;
  }
}
@media screen and (max-width: 1300px) {
  .tentang p {
    width: 100%;
    margin-right: 50px;
  }
}

@media screen and (max-width: 922px) {
  .video .buton {
    display: none;
  }

  .video .clip video {
    max-width: 90%;
  }

  .bar .b {
    display: none;
  }

  .tentang {
    display: none;
  }

  .About img {
    width: 500px;
  }

  nav ul {
    width: 400px;
    margin-right: -100px;
  }

  nav h1 {
    position: absolute;
    left: 0;
    margin-left: 50px;
  }
}

@media screen and (max-width: 620px) {
  body {
    overflow-x: hidden;
  }

  .hero {
    position: relative;
    /* top: -80px; */
    width: 100vmin;
    height: 100vh;
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
  }

  .About {
    position: relative;
    padding-bottom: 800px;
  }

  .About h3 {
    margin-top: 20px;
    font-size: 31px;
    font-weight: bold;
  }

  .About p {
    width: 420px;
    font-size: 0.9em;
    line-height: 30px;
  }

  .tentang {
    display: block;
    position: absolute;
    bottom: 90px;
    margin: 0;
    margin-left: 10px;
    padding: 10px;
  }

  .About img {
    width: 400px;
    margin-left: 45px;
  }

  .gallery {
    margin: 0;
    margin-top: 80px;
    margin-left: -45px;
  }

  .Porto .section ul {
    display: none;
  }

  .bar {
    position: relative;
    text-align: center;
    margin-left: 30px;
    padding-bottom: 500px;
  }

  .bar section .web-bar {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 730px;
  }

  .bar section .web {
    width: 420px;
  }
  .bar section .brand {
    width: 350px;
  }
  .bar section .logo {
    width: 400px;
  }

  .bar p {
    width: 29%;
  }

  .bar .a p {
    width: 80%;
  }

  .weBD {
    width: 60% !important;
    padding-left: 30px;
  }

  .pBD {
    margin-right: 90px;
  }

  .bar section.a {
    margin-left: -20px;
  }

  .bar section.a h3 {
    margin-left: -10px;
  }

  .bar section.a p {
    text-align: center !important;
    margin-left: 35px;
  }

  .bar section.b {
    display: block;
    position: absolute;
    left: -131px;
    bottom: 150px;
  }

  .text {
    margin: 100px 50px;
    font-size: 2.3em;
  }

  nav {
    height: 80px;
  }

  nav h1 {
    margin-left: 50px;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: #000;
    transition: all 1s;
    z-index: -1;
    transform: translateX(100%);
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  nav ul li a {
    position: relative;
    right: 50px;
  }

  .contact .row100 .col {
    padding: 0;
  }

  .menu-toggle {
    display: flex;
    position: absolute;
    right: 40px;
  }
}

@media screen and (max-width: 535px) {
  .About img {
    width: 300px;
    margin-left: 45px;
  }

  .menu-toggle {
    display: flex;
    position: absolute;
    right: 90px;
  }

  nav h1 {
    margin-left: 50px;
  }

  .text {
    line-height: 50px;
    margin: 160px 50px;
    position: absolute;
    color: #fff;
    top: 50px;
    font-size: 1.5em;
    text-align: center;
  }

  .tentang {
    position: relative;
    bottom: 0;
    right: 300px;
    top: 600px;
  }

  .tentang .satu {
    display: block;
    width: 100px;
    margin-top: 60px;
    background-color: rgb(218, 218, 218);
    padding: 10px;
    font-weight: 550;
    font-size: 14px;
    color: rgb(64, 64, 64);
    text-align: center;
  }

  .About h3 {
    font-size: 1.4rem;
  }
  .About p {
    font-size: 0.57rem;
    line-height: 20px;
  }
  .About a {
    margin-top: 55px;
    font-size: 13px;
    line-height: 23px;
    /* margin: 100px 100px; */
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.916);
    display: inline-block;
    padding: 11px 42px;
    border: 2px solid #fff;
    font-family: "Poppins";
    transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);
    cursor: pointer !important;
  }

  .Porto h3 {
    width: 20%;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 40px;
    font-weight: bold;
  }
  .gallery {
    margin-left: -70px;
  }
  .Porto span {
    display: inline-block;
    margin-top: 60px;
    margin-left: 53px;
    width: 100px;
    background-color: rgb(218, 218, 218);
    padding: 13px;
    font-weight: 550;
    font-size: 14px;
    color: rgb(64, 64, 64);
  }
  .bar section .web-bar {
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 580px;
  }
  .weB {
    width: 50%;
    margin-right: -30px;
  }
  .bar section .web {
    width: 330px;
  }
  .bar section .brand {
    width: 260px;
  }
  .bar section .logo {
    width: 310px;
  }
}
@media screen and (max-width: 470px) {
  .text {
    line-height: 50px;
    margin: 160px 50px;
    position: absolute;
    color: #fff;
    top: 50px;
    font-size: 1.5em;
    text-align: center;
  }

  .About img {
    width: 260px;
  }
  .menu-toggle {
    display: flex;
    position: absolute;
    right: 200px;
  }

  nav ul li a {
    position: relative;
    right: 115px;
  }

  nav h1 {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .About img {
    width: 260px;
  }
  .menu-toggle {
    display: flex;
    position: absolute;
    right: 200px;
  }

  nav ul li a {
    position: relative;
    right: 115px;
  }

  .text {
    line-height: 50px;
    margin: 160px 50px;
    position: absolute;
    color: #fff;
    top: 50px;
    font-size: 1em;
    text-align: center;
  }
}

@media screen and (max-width: 412px) {
  .menu-toggle {
    display: flex;
    position: absolute;
    right: 150px;
  }

  .About img {
    width: 50px;
  }
}
@media screen and (max-width: 394px) {
  .About img {
    width: 50px;
  }
}
@media screen and (max-width: 320px) {
  nav {
    overflow-x: hidden;
  }

  .About img {
    width: 50px;
  }
}

@media screen and (max-width: 305px) {
  .About img {
    width: 170px;
    margin-left: 45px;
  }

  .text {
    line-height: 30px;
    margin: 190px 50px;
    position: absolute;
    color: #fff;
    top: 50px;
    font-size: 0.7em;
    text-align: center;
  }
}
@media screen and (max-width: 264px) {
  .About img {
    width: 170px;
    margin-left: 45px;
  }

  .text {
    line-height: 30px;
    margin: 190px 10px;
    position: absolute;
    color: #fff;
    top: 50px;
    font-size: 0.5em;
    text-align: center;
  }
}
